/*styling only for example file.*/
#testDiv{
    width: 400px;
}
body{
    font-family: "arial";
    margin-left: 40px;
}
button{
    margin: 5px;
}
li{
    margin-top: 10px;
}



#clothes-tops-slideshow{
    margin-top: 100px;
    margin-left: 40px;
}
#clothes-bottoms-slideshow{
    margin-top: 200px;
    margin-left: 38px;
}
#clothes-shoes-slideshow{
    margin-top: 350px;
    margin-left: 40px;
}

#bg-slideshow{
    width: 500px;
}

#gift-paper-slideshow{
    margin-left: 60px;
}
#gift-bear-slideshow{
    margin-left: 115px;
}
#gift-scarf-slideshow{
    margin-top: 90px;
    margin-left: 265px;
}
#gift-cup-slideshow{
    margin-top: 145px;
    margin-left: 150px;
}
#gift-slideshow-div{
    width: 400px;
}