/*styling only for example file.*/
#testDiv{
    width: 400px;
    margin-left: 40px;
}
body{
    font-family: "arial";
}
button{
    margin: 5px;
}
li{
    margin-top: 10px;
}



#clothing-section{
    margin-left: 40px;
}

#clothes-tops-slideshow{
    margin-top: 100px;
    margin-left: 40px;
}
#clothes-bottoms-slideshow{
    margin-top: 200px;
    margin-left: 38px;
}
#clothes-shoes-slideshow{
    margin-top: 350px;
    margin-left: 40px;
}