/* Styles for the landing page, example page, and documentation page */

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

body#landing-page{
    overflow: hidden;
}

.header{
    display: flex;
    justify-content: space-around;
    background-color: #F8F8F8;
    box-shadow: 2px 2px 1px lightgray;
    width: 100%;
    height: 40px;
    align-items: center;
}

.header a{
    text-decoration: none;
    color: black;
}
.header :hover{
    font-weight: 500;
}

.header .current-page{
    font-weight: 500;
}


#landing-page-main{
    text-shadow: -1px 1px 2px black;
    color: white;
    /* overflow: hidden; */
    max-height: 100%;
    overflow: hidden;
}

#title {
    position: absolute;
    font-size: 80px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    pointer-events: none;
    z-index: 1000;
    margin-top: 30vh;
}


/*for example file.*/
#testDiv{
    width: 400px;
}
button{
    margin: 5px;
    
    background-color: #803636;
    color: white;
    border: none;
    padding: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 1px 2px grey;
}
.code-btn{
    background-color: #E5E4E4;
    color: black
}
#example-page-main{
    margin-left: 40px;
}

h1, h2, h3, h4, h5{
    font-weight: 500;
    
}
h3{
    margin-bottom: 0px;
    margin-top: 10px;
}
pre{
    margin: 0px;
    margin-top: 5px;
    white-space: pre-line;
    width: 97%;
    display: none;
}

.example-container{
    display: flex;
}
#simple-bg-desc{
    margin-left: 400px;
    padding-right: 40px;
}

ul{
    margin: 4px auto;
}