/* Styles for the landing page, example page, and documentation page */

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

body#landing-page{
    overflow: hidden;
}

.header{
    display: flex;
    justify-content: space-around;
    background-color: #F8F8F8;
    box-shadow: 2px 2px 1px lightgray;
    width: 100%;
    height: 40px;
    align-items: center;
}

.header a{
    text-decoration: none;
    color: black;
}
.header :hover{
    font-weight: 500;
}

.header .current-page{
    font-weight: 500;
}


#landing-page-main{
    text-shadow: -1px 1px 2px black;
    color: white;
    /* overflow: hidden; */
    max-height: 100%;
    overflow: hidden;
}

#title {
    position: absolute;
    font-size: 80px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    pointer-events: none;
    z-index: 1000;
    margin-top: 30vh;
}


/*for example page.*/
#testDiv{
    width: 400px;
}
button{
    margin: 5px;
    background-color: #803636;
    color: white;
    border: none;
    padding: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 1px 2px grey;
}
button:active{
    box-shadow: 0px 2px 2px grey;
}
.code-btn{
    background-color: #E5E4E4;
    color: #5a1717;
}
#example-page-main{
    margin-left: 40px;
    margin-bottom: 50px;
}
.example-subtitle{
    margin-bottom: 10px; 
}

h1, h2, h3, h4, h5{
    font-weight: 500;
}
h1{
    margin-bottom: 2px;
}
h3{
    margin-bottom: 2px;
    margin-top: 8px;
}
pre{
    margin: 0px;
    margin-top: 5px;
    /* white-space: pre-line; */
    max-width: calc(100vw - 500px);
    display: none;
}
.wider-code{
    max-width: calc(100vw - 100px);
}
ul{
    margin: 4px auto;
}

.example-container{
    display: flex;
}
#simple-bg-desc{
    margin-left: 410px;
    padding-right: 40px;
}
#clothing-slideshow-div{
    margin-left: 10px;
}
#clothing-desc{
    margin-left: 390px;
    padding-right: 40px;
}

#img-source-links{
    display: flex;
    justify-content: flex-start;

    font-size: 14px;
    margin-bottom: 20px;
}
#img-source-links a{
    text-decoration: none;
    margin-left: 10px;
}
#img-source-links span{
    margin-left: 10px;
}
