/* Styles for the landing page, example page, and documentation page */

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

/* ____________________HEADER _____________________*/
.header{
    display: flex;
    justify-content: space-around;
    background-color: #F8F8F8;
    box-shadow: 2px 2px 1px lightgray;
    width: 100%;
    height: 40px;
    align-items: center;
}
.header a{
    text-decoration: none;
    color: black;
}
.header :hover{
    font-weight: 500;
}
.header .current-page{
    font-weight: 500;
}

/* ____________________LANDING PAGE _____________________*/
body#landing-page{
    overflow: hidden;
}
#landing-page-main{
    text-shadow: -1px 1px 2px black;
    color: white;
    max-height: 100%;
    overflow: hidden;
}
#title {
    position: absolute;
    font-size: 80px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    pointer-events: none;
    z-index: 1000;
    margin-top: 30vh;
}


/* ____________________ EXAMPLE PAGE _____________________*/
#example-page-main{
    margin-left: 40px;
    margin-bottom: 50px;
}
button{
    margin: 5px;
    background-color: #803636;
    color: white;
    border: none;
    padding: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 1px 2px grey;
}
button:active{
    box-shadow: 0px 2px 2px grey;
}
.code-btn{
    background-color: #E5E4E4;
    color: #5a1717;
}

.example-subtitle{
    margin-bottom: 10px; 
}

h1, h2, h3, h4, h5{
    font-weight: 500;
}
h1{
    margin-bottom: 2px;
}
h3{
    margin-bottom: 2px;
    margin-top: 8px;
}

pre{
    margin: 0px;
    margin-top: 5px;
    /* white-space: pre-line; */
    max-width: calc(100vw - 500px);
    display: none;
}
#documentation-body pre{
    display: block;
    max-width: calc(100vw - 100px);
    white-space: pre-line;
    margin-top: 10px; 
}
.wider-code{
    max-width: calc(100vw - 100px);
}

ul{
    margin: 4px auto;
}

.example-container{
    display: flex;
}
#simple-bg-desc{
    margin-left: 410px;
    padding-right: 40px;
}
#clothing-slideshow-div{
    margin-left: 10px;
}
#clothing-desc{
    margin-left: 390px;
    padding-right: 40px;
}
.animation-examples{
    margin-top: 20px;;
}
.animation-examples table{
    text-align: center;
    width: 700px;;
}
.animation-examples td{
    padding: 0px 50px;
}

#img-source-links{
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    margin-bottom: 20px;
}
#img-source-links a{
    text-decoration: none;
    margin-left: 10px;
}
#img-source-links span{
    margin-left: 10px;
}

/* ____________________ DOCUMENTATION PAGE _____________________*/
#documentation-body{
    margin: 50px;
    margin-right: 200px;
}
table{
    width: 80vw;
    text-align: left;
    border-collapse: collapse;
}
#documentation-body tr{
    border-top: 1px solid gray;
}
#constructors table{
    max-width: 800px;
    text-align: left;
}
#constructors td{
    padding: 8px 20px;
}
.param{
    color: #5a1717;
    font-weight: 500;
}
#constructors a, #options a{
    text-decoration: none;
    font-weight: 500;
    color: black
}
.note{
   display: inline;
}

b{
    font-weight: 500;
}
.param-title{
    margin-top: 10px;
    font-weight: 500;
}
#methods h3, #constructors h2{
    margin-bottom: 4px;
    color: #5a1717;
    margin-top: 20px;
}
#methods h2{
    margin-bottom: 4px;
}
.italic{
    font-style: italic;
}
.dark-red{
    color: #5a1717;
}
#options h3{
    margin-bottom: 10px;;
}
#options td, th{
    padding: 8px 20px;
}
.option-td{
    color: #5a1717;
    font-weight: 500;
}
#arrow-examples{
    list-style-type: none;
}
#documentation-body .forward-arrow{
    height: 15px;
}


#table-of-contents a{
    text-decoration: none;
    font-size: 20px;
    color: #5a1717;
}