.background-slideshow{
    position: absolute;
    display: flex;
    align-content: center;
    z-index: -1;
}
.background-container{
}
.background-slide{
    max-width:100%;
    max-height:100%;
}

.foreground-slideshow{
    display: flex;
    z-index: 100;
    max-width:80%;
    max-height:50%;

}
.foreground-container{
}
.foreground-slide{
    max-width:100%;
    max-height:100%;
}

.forward-arrow{
    align-self: center;
    padding: 10px;
}
.back-arrow{
    align-self: center;
    padding: 10px;
}
