
.slideshows-container{
    position: static;
    background: darkolivegreen;
    display: flex;
    align-content: center;
    flex-direction: column;
    max-width:100%;
    max-height:100%;
}

.background-slideshow{
    position: absolute;
    left: 10%;  /*TEMPORARY */
    display: flex;
    justify-content: center;
    z-index: 100;
}
.background-container{
}
.background-slide{
    max-width:100%;
    max-height:100%;
}

.foreground-slideshow{
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 101;
    pointer-events: none; /* this allows for the background arrows to be clicked even if z-index is lower*/

}
.foreground-container{
}
.foreground-slide{
    max-width:100%;
    max-height:100%;
}

.forward-arrow{
    align-self: center;
    padding: 2px;
    pointer-events: visiblePainted;
}
.back-arrow{
    align-self: center;
    padding: 2px;
    pointer-events: visiblePainted;
}

/* this styling is to remove the blue overlay on images when clicking to select them */
/* since it is often possible to mis-click an arrow and select the image instead so this just makes it look nicer*/
img {
    user-select: none;
}